body{
    /* background-image: url("./images/white.jpg"); */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    background-image: linear-gradient( 2.6deg,  rgb(126, 154, 191) 16%, rgb(254, 255, 255) 91.1% );
    background-size:auto;
     min-height:100vh;
 



}