.empty{
    background-image: url("../images/empty.png");
    width: 100%;
    height: 500px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.empty h1{
    font-family: "Poppins",sans-serif;
    width: 100%;
    margin: 0 auto;
}